.my-city{
		border-bottom: 1px dotted #898989;
		font-size: 11px;
		text-decoration: none;
}

.my-city:hover{
	border: none;
	text-decoration: none;
}

.my-city:link{
	text-decoration: none;
}